.App {
    display:block;
    align-content: center;
    justify-content: center;
    height: 100vh;
}
.SearchField {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(5px + 2vmin);
}

.MovieArea {
    margin: 3% 19% 0% 16%;
    display:flex;
    justify-content:space-between;
    align-items: flex-start;
    
    min-width: 100vh;
  
    
    
}

.Movie {
    border: 3px black solid;
    border-radius: 20%;
    padding: 2px;
    text-align: center;
    margin: 5px;

    
}

.Seen .Movie {
    background-color: lightblue;
}

.Unseen .Movie {
    background-color: greenyellow;
}

.Movie:hover {
    
    background-color: rgb(255, 255, 255);
    cursor: pointer;

}

.Movie:active {
    background-color: lightgray;

}

.Unseen {
    display: flex;
    justify-content: flex-start;
    
}

.Seen {
    
    display: flex;
    justify-content: flex-end;
}

.Overview {
   display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: calc(5px + 2vmin);
    
}

.title {
    text-align: center;

}

